@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
